h1{
    margin-left: 270px;
}
   
.a{
    background-color: #26282b;
    color: white;
    font-size: x-large;
}
.b{
    margin-left:;
}

.c{margin-left: 300px;    
}
.d{margin-left: 300px; 

}

.e{margin-left: 250px;

}
label{
    font-size: xx-large;
}
    